@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <title>Haverim</title>
    <base href="~/" />
</head>
<body>
    <div id="react-app"></div>
    <script src="/dist/js/main.js"></script>
</body>
</html>
