<!--<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Haverim</title>
    <base href="~/" />

   

</head>
<body>

</body>
</html>

<!DOCTYPE html>
<html>
<body>
<h1>hey</h1>
<script src="/dist/js/main.js" />
</body>
<html>-->
    <base href="~/" />

    @RenderBody()
	<script src="/dist/js/main.js"  />
<script>alert()</script>