.main-page {
  height: 100%;
  width: 100%;
  position: absolute;
  scroll-behavior: smooth;
}
.main-page-content {
  background-color: rgba(0, 0, 0, 0.01);
  display: grid;
  grid-template-columns: 300px auto 300px;
  height: calc(100% - 48px);
  overflow-y: scroll;
}
.main-page-input-posts {
  grid-column: 2;
  margin-top: 30px;
}
.main-page-user-profile {
  margin-top: 42.5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.main-page-friends-list {
  margin-left: auto;
  margin-right: auto;
  margin-top: 42.5px;
}
.full {
  width: 96vw;
}
.noscroll {
  overflow: hidden;
  padding-right: 10px;
  width: calc(100% - 10px);
}
