.post-container {
  border: #f2994a 1px solid;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 5px;
  padding-top: 5px;
  width: 95%;
  border-radius: 30px;
  border-top-left-radius: 0;
  display: grid;
  grid-template-columns: [col0]85px [col1]auto;
  grid-template-rows: 80px auto auto auto;
  padding-bottom: 10px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.16), 0 6px 20px rgba(0, 0, 0, 0.23);
  margin: auto;
  background-color: white;
  padding-left: 0;
}
.post-other-user-info {
  width: 90%;
  margin: auto;
  background-color: rgb(255, 255, 255);
  padding-left: 5px;
  padding-top: 5px;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #f2994a;
  border-bottom: 0;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.16), 0 6px 20px rgba(0, 0, 0, 0.23);
  color: #bfbfbf;
}
.post-other-user-info:hover {
  text-decoration: underline;
  color: #979797;
}
.post-user-container {
  grid-column: col0 / col2;
  display: grid;
  grid-template-columns: [col0]70px[col1] auto;
  grid-template-rows: 25px 25px;
  border-bottom: 1px solid rgba(214, 214, 214, 0.295);
  margin-bottom: 5px;
  padding-left: 5px;
}
.post-profile-pic {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  grid-row: 1/2;
}
.post-user-text-container {
  grid-column: 2;
  grid-row: 2;
  margin-left: 10px;
  margin-bottom: 0;
}
.post-username {
  display: inline;
  color: gray;
  margin: 0;
  margin-left: 5px;
}
.post-time {
  display: inline;
  color: gray;
  margin: 0;
  margin-left: 5px;
}
.post-displayname {
  color: black;
  margin: 0;
  display: inline;
  text-decoration: none;
}
.post-body {
  color: #4f4f4f;
  cursor: pointer;
  grid-column: 1/4;
  grid-row: 2;
  margin: 0;
  padding-bottom: 30px;
  margin-bottom: 10px;
  padding-left: 80px;
  border-bottom: 1px solid rgba(214, 214, 214, 0.295);
}

.post-social-icons {
  grid-row: 3;
  grid-column: 1/4;
  padding-right: 10px;
  z-index: 1;
}
.social-icon {
  width: 25px;
  height: 25px;
  float: right;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.2s, width 0.2s, height 0.2s, margin-left 0.2s, margin-top 0.2s;
  margin-top: 0px;
  margin-left: 20px;
  z-index: -1;
}
.social-icon:nth-child(2) {
  margin-left: 15px;
}
.social-icon:nth-child(2):hover {
  margin-left: 10px;
}
.post-upvote-count-container {
  margin: 0;
  height: 25px;
  padding-left: 10px;
  grid-row: 3;
  float: right;
  cursor: pointer;
  padding-right: 5px;
}
.post-upvote-count {
  font-size: 22px;
  grid-column: 1/4;
  font-family: "Quicksand";
  color: #f2994a;
  opacity: 0.7;
  margin: 0;
}
.post-upvote-count:hover {
  opacity: 1;
}
.social-icon:hover {
  opacity: 1;
  width: 30px;
  height: 30px;
  margin-left: 15px;
  margin-top: -5px;
}
