.quick-reply-field-container {
  position: fixed;
  margin-top: -90px;
  top: 50%;
  left: 5%;
  right: 5%;
  z-index: 3;
  background-color: white;
  padding: 10px 00px 50px 0px;
  border-radius: 30px;
  box-shadow: 1px 1px 30px rgb(211, 211, 211);
}
