@import url("https://fonts.googleapis.com/css?family=Quicksand");
@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}
#centerrr {
  left: 50vw;
  top: 0;
  width: 1px;
  height: 100%;
  display: block;
  position: fixed;
  background-color: red;
  z-index: 999;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.blurred {
  --blur-amount: 3px;

  -webkit-filter: blur(var(--blur-amount));
  -moz-filter: blur(var(--blur-amount));
  -o-filter: blur(var(--blur-amount));
  -ms-filter: blur(var(--blur-amount));
  filter: blur(var(--blur-amount));
}
.Link {
  text-decoration: none;
}
.Link:hover {
  text-decoration: underline rgb(218, 218, 218);
}
.ProfilePicture:hover {
  opacity: 0.9;
}

.Scrollbar {
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

.Scrollbar::-webkit-scrollbar {
  width: 10px;
}
/* Track */
.Scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
.Scrollbar::-webkit-scrollbar-thumb {
  background: #f2984a52;
  cursor: pointer;
}
/* Handle on hover */
.Scrollbar::-webkit-scrollbar-thumb:hover {
  background: #f2984a8f;
}
