.profile-container {
  width: 250px;
  height: 270px;
  border: #f2994a solid 1px;
  border-radius: 30px;
  border-top-right-radius: 0;
  display: grid;
  grid-template-columns: 120px 120px;
  grid-template-rows: 10px 140px 50px 70px;
  background-color: white;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.16), 0 6px 20px rgba(0, 0, 0, 0.23);
}
.profile-image {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  grid-column: 1/3;
  grid-row: 2;
  margin: auto;
}
.followers-container {
  grid-column: 1;
  grid-row: 4;
  text-align: center;
  cursor: pointer;
}

.following-container {
  grid-column: 2;
  grid-row: 4;
  text-align: center;
  cursor: pointer;
}
.follow-label {
  margin: 0;
  font-size: 18px;
  color: #bdbdbd;
}
.username-label {
  grid-column: 1/3;
  grid-row: 3;
  text-align: center;
  font-size: 35px;
  margin: 0;
  color: #4f4f4f;
  cursor: pointer;
}
.follow-count-label {
  font-size: 25px;
  color: #f2994a;
  margin: 0;
  margin-top: 6px;
  opacity: 0.6;
  transition: font-size 100ms, margin-top 100ms, opacity 100ms;
}
.followers-container:hover > .follow-count-label {
  font-size: 35px;
  margin-top: -4px;
  opacity: 1;
}
.following-container:hover > .follow-count-label {
  font-size: 35px;
  margin-top: -4px;
  opacity: 1;
}
.followers-modal-background {
  position: fixed;
  background-color: rgba(128, 128, 128, 0.425);
  height: 100%;
  width: 100%;
  z-index: 2;
  top: 0;
  left: 0;
}

.followers-modal-body {
  position: fixed;
  height: 80%;
  width: 400px;
  background-color: white;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 5;
  left: calc(50% - 200px);
  top: 30px;
  overflow-y: scroll;
}
.followers-modal-header {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  opacity: 0.6;
}
.followers-modal-split {
  height: 1px;
  width: 100%;
  background-color: rgb(153, 153, 153);
  box-shadow: 0px 1px 1px rgb(168, 168, 168);
}
.followers-modal-list {
  width: 100%;
  padding: 0;
  margin-top: 0;
  height: calc(100% - 400px);
}
.followers-modal-list-item {
  border-bottom: 1px solid rgb(201, 201, 201);
  height: 66px;
  display: grid;
  grid-template-rows: 66px;
  grid-template-columns: 66px auto;
  cursor: pointer;
  background-color: white;
}
.followers-modal-list-item:hover {
  background-color: rgb(243, 243, 243);
}

.followers-modal-list-item-profilepic {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 100%;
  margin: 8px;
}
.followers-modal-list-item-user-container {
  grid-row: 1;
  grid-column: 2;
  display: grid;
  grid-template-rows: 33px 33px;
  grid-template-columns: auto;
}
.followers-modal-list-item-displayname {
  grid-row: 1;
  display: inline-block;
  margin: 0;
  font-size: 20px;
  height: 20px;
  color: #4f4f4f;
  margin-top: 10px;
}
.followers-modal-list-item-username {
  grid-row: 2;
  display: inline-block;
  color: #bdbdbd;
  margin: 0;
}
.followers-modal-load-button {
  width: 100%;
  border: none;
  height: 70px;
  background-color: white;
  font-size: 30px;
  cursor: pointer;
  margin-top: 5px;
  box-shadow: inset 0px -1px 10px rgb(197, 197, 197);
  transition: background-color 250ms;
  color: #606060;
}
.followers-modal-load-button:hover {
  background-color: rgba(230, 183, 141, 0.151);
}
.followers-modal-loading-header {
  text-align: center;
  color: #606060;
  font-size: 30px;
  margin: 20px 0;
}
